.navbar {
    height: 50px;
      display: flex;
      align-items: end;
      padding: 0 20px;
      margin-bottom: -25px;
      
    }
    .mainbody{
      background: #FEF2E8;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 100px;
    }
    .logo {
      width: 40px;
      height: 40px;
    }
  
    .icon {
      font-size: 24px;
      margin-left: auto;
      text-decoration: none;
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
    h1{
      text-align: left;
      font-size: 58px;
      color: #023A6B;
      font-family: 'Eczar', serif;
      padding-top: 40px;
      padding-bottom: 15px;
    }
    .product-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 80px 20px;
    }
    .product-item {
      flex-basis: calc(33.33% - 20px);
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .upper{
      text-align: left;
      line-height: 1.2;
    }
    .cart{
      text-decoration: none;
      color: #023A6B;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
    }
    .product-item img{
      max-width: 80%;
      max-height: 65%;
    }
    .product-item h3{
      text-align: left;
      font-size: 45px;
      color: #023A6B;
      display: flex;
      margin-right: 10px;
      font-family: 'Eczar', serif;
    }
   .price{
    height: 20px;
    width: 50px;
    display: flex;
    padding-bottom: 15px;
   }
   .container{
    display: flex;
    align-items: center;
   }
   .amount{
    text-align: left;
    font-size: 20px;
    color: #023A6B;
    margin-top: -60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
   }
   .close{
      margin-right: 50px;
   }
   .sugar{
    text-align: left;
    color: #023A6B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 20px;
   }
   .pill-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-style: double;
    border-color: #FFBD5C;
    border-radius: 25px;
    background-color: #FEF2E8;
    color: #023A6B;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .pill-button:hover {
    transition: 400ms;
    background-color: #FFBD5C
  }
  
  .pill-button:focus {
    outline: none;
  }
  .addtocart{
    text-align: left;
    padding-top: 10px;
    }






    @media screen and (max-width:480px) {
      .product-list {
          grid-template-columns: 1fr;
        }
        .product-item {
          flex-basis: 100%;
        }
        .navbar{
          padding-bottom: 20px;
        }
        .upper{
          margin-left: 0px;
          margin-right: 0px;
        }
        .upper h1{
          font-size: 30px;
        }
        .mainbody{
          padding-left: 30px;
          padding-right: 70px;
          margin-left: -20px;
        }
        .brand{
          width: 60%;
        }
        .cart{
          width: 50%;
          margin-left: -80px;
          margin-right: -80px;
        }
        .icon{
          width: 50%;
          margin-right: -20px;
        }
        .logo{
          width: 20%;
          height: 20%;
          margin-left: -10px;
        }
        .container h3{
          font-size: 30px;
        }
        .container{
          padding-bottom: 30px;
        }
        .product-item img{
          height: 100%;
        }
    }